/* -------------
Seccion Menu
-------------------*/ 
.googlemaps{
    width: 100%;
}
.menu-section{
    background-color: var(--dark);
    padding-bottom: 60px;
}
.menu-section .section-title{
    margin-bottom:  40px;
}
.menu-tabs{
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.menu-tab-item{
    font-size: 18px;
    font-family: inherit;
    text-transform: capitalize;
    border: none;
    background-color: transparent;
    font-weight: 500;
    color: var(--white);
    cursor: pointer;
    margin: 0 10px 10px;
    transition: color 0.3s ease;
    display: inline-block; 
}
.menu-tab-item.active{
    color: var(--main-color);
}
.menu-tab-content{
    display: none;
}
.menu-tab-content.active{
    display: flex;
}
.menu-item{
    width: 50%;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.menu-item::after{
    content: '';
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
    border-bottom: 2px dashed var(--dark-light);
}
.menu-item:nth-last-of-type(2)::after,
.menu-item:nth-last-of-type(1)::after{
    border: none;
}
.menu-item-title{
    display: flex;
    align-items: center;
    max-width: calc(100% - 80px);
}
.menu-item-title h3{
    font-size: 16px;
    text-transform: capitalize;
    transition: color 0.3s ease;
}
.menu-item:hover .menu-item-title h3{
    color: var(--main-color);
}
.menu-item-title img{
    max-width: 100px;
    margin-right: 15px ;
}
.menu-item-price{
    font-size: 16px;
    font-weight: 500;
    color: var(--main-color);
    transition: color 0.3s ease; 
}
.menu-item:hover .menu-item-price{
    color: var(--white);
}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }